@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@media all and (max-width: 515px), (max-height: 515px) {
    .wrapper .main_container .animation_thumb{
        margin: 5px 0 0 0;
        width: 100%;
    }
}