body {
    background-color: #06070d;
}
.carousel.slide {
    background-color: #0c0d13;
}
.carousel-item {
    margin: auto;
    height: 32rem;
    width: max-content;
    background: #171920;
    color: #fff;
}
.carousel-item.active{
    display: flex;
}
img.d-block {
    max-height: 32rem;
    max-width: 60rem;
}
.container {
    position:static;
    top: 0;
    margin-top: 8px;
    background-color: #06070d;
    color: #fff;
}

img.user-pic {
    max-height: 4rem;
}

.row.main , .row.info, .row.desc{
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 990px;
    }  
}