:root{
  --background : #111; 
  --fontcolor : #fff;
}
body{
  background-color: var(--background);
  color: var(--fontcolor);
}
.navbar{
  padding-top: 0px;  
  padding-bottom: 0px; 
  /* background: url("../images/background_menu.png");
  background-position: center;
  background-size: cover; */
}


.carousel-item {
  height: 20rem;
  margin-bottom: 5%;
}

.carousel-control-next {
  justify-content:end;
  background-color: #333;
  width: 3%;
}

.carousel-control-prev {
  justify-content:start;
  background-color: #333;
  width: 3%;
}

/*HEADER*/
.logo-default{
  width: 5rem;
}
.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item{
  border-radius: 0.5rem;
}
.menu-item-active{
  background-color: rgb(101,101,101);
}

/*TÍTULO DAS SEÇÕES*/
.title{
  margin: 3rem 0;
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width:  2.5vw;
  height: 2.5vw;
  opacity: 0.75;
}

.thumbnail{
  width: 200px;
  height: 200px;
  align-items: center;
  float: left;
}
.categoria-primary{
  background-color: blue;
}

.albuns-item{
  width: 80%;
  float: right;
}

.qtdfig{
  text-align: right;
  float: right;
}