.navbar{
  padding-top: 0px;  
  padding-bottom: 0px; 
}

.container-dark {
    background: #111;
    color: #fff;
}

.carousel-item {
  height: 20rem;
  margin-bottom: 5%;
}

.carousel-control-next {
  justify-content:end;
  background-color: #333;
  width: 3%;
}

.carousel-control-prev {
  justify-content:start;
  background-color: #333;
  width: 3%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width:  2.5vw;
  height: 2.5vw;
  opacity: 0.75;
}

.thumbnail{
  width: 200px;
  height: 200px;
  align-items: center;
  float: left;
}
.categoria-primary{
  background-color: blue;
}

.albuns-item{
  width: 80%;
  float: right;
}